<div class="title">
  <div class="spacer"></div>
  <h1>Contact us</h1>
  <div class="spacer"></div>
</div>

<div class="article">
  <p>
    We'd love to hear from you! Whether you have a question, comment, or just want to say hello, we're here to help.
    Don't
    hesitate to get in touch with us using the contact form or phone number below.
  </p>
  <p>
    Of course, the best way to experience our restaurant is in person. We invite you to join us for lunch, dinner, or
    drinks and see why we're one of the best restaurants in town. Our welcoming atmosphere, delicious food, and
    exceptional service are sure to make your visit unforgettable.
  </p>
  <p>
    We're open for reservations, so why not book a table today? Our team is ready to provide you with a dining
    experience
    that's second to none. We can't wait to welcome you to our restaurant and share our passion for food and hospitality
    with you.
  </p>
</div>

<div class="map-outer">
  <div class="gmap_canvas">
    <iframe width="1000" height="500" id="gmap_canvas"
            src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=11&ie=UTF8&iwloc=&output=embed"></iframe>
  </div>
</div>
