<div class="navbar-container">
  <div class="logo">
    <div class="logo-container" [routerLink]="'/'">
      <img src="assets/logo.png" alt="Logo">
      Brooklyn Bites
    </div>
    <div class="menu-button">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu" (click)="toggleMenu()"></mat-icon>
    </div>
  </div>
  <ul class="menu" *ngIf="!isToggled">
    <li class="menu-item" [routerLink]="'/our-mission'">Our mission</li>
    <li class="menu-item" [routerLink]="'/chefs-recommended'">Chefs Recommended</li>
    <li class="menu-item" [routerLink]="'/menu'">Menu</li>
    <li class="menu-item" [routerLink]="'/contact'">Contact</li>
  </ul>
</div>
