@import "src/shared/shared";

.navbar-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  justify-content: center;
}

.menu{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.menu-item{
  position: relative;
  transition:.5s;
  cursor: pointer;
}

.menu-item::before{
  position: absolute;
  text-decoration: none;
  content: '';
  height: 3px;
  bottom: -7px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 10px;
  background: white;
  transition:.3s ease-in;
}

.menu-item:hover:before {
  width: 100%;
  background: lightgray;
}
.menu-item:hover{
  color: lightgray;
}

mat-icon{
  display: none;
  cursor: pointer;
}

.logo{
  width: 20%;
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-style: oblique;
}

.logo-container > img {
  height: 5rem;
  border-radius: 50%;
  background: white;
  border: 5px white solid;
  margin-right: 8px;
}

.book-now{
  margin-right: 4rem;
  display: flex;
  align-items: center;
}


@media screen and (max-width: $medium-width) {
  .logo{
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .logo-container{
    flex: 1;
  }
  .menu-button{
    position: absolute;
    right: 2rem;
  }
  .menu{
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .navbar-container{
    flex-direction: column;
    width: 100%;
  }
  mat-icon{
    display: inline-block;
    float: right;
    transform: scale(1.5);
  }
}
