@import "shared";

.article{
  width: 50%;
  margin: 3rem auto;
  line-height: 1.7rem;
  font-size: 1.25rem;
  text-align: justify;
}

.article > p {
  margin: 1rem 0;
}

@media screen and (max-width: $mobile-width) {
  .article{
    width: 90%;
  }
}


