<div class="footer-container">
  <div class="footer-info">
    <div class="footer-details">2023 ©Brooklyn Bites</div>
    <div class="footer-spacer"></div>
    <div class="footer-phone">
      <mat-icon aria-hidden="false" aria-label="phone icon" fontIcon="phone_in_talk"></mat-icon>
      +00 000 000 000
    </div>
    <div class="footer-location">
      <mat-icon aria-hidden="false" aria-label="phone icon" fontIcon="pin_drop"></mat-icon>
      Example Street 0, New York
    </div>
  </div>
</div>
