@import "src/shared/shared";

.footer-container{
  width: 100%;
  //min-height: min-content;
  min-height: 10%;
  padding: 1rem 0;
  background: #1a1c20;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}
.footer-info{
  display: flex;
  width: 70%;
  gap: 1rem;
}

.footer-details{
  color: white;
}

.footer-phone, .footer-location{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
mat-icon{
  margin-right: 5px;
  min-width: 24px
}

.footer-spacer{
  flex: 1;
}

@media screen and (max-width: $mobile-width) {
  .footer-info{
    flex-direction: column;
  }
  .footer-details{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-spacer{
    display: none;
  }
}
