<div class="title">
  <div class="spacer"></div>
  <h1>Special place for dining experience</h1>
  <div class="spacer"></div>
</div>

<div class="article">
  <p>
    Welcome to our restaurant, where we're passionate about creating a dining experience that's second to none. With
    some of the best chefs in the business, we're dedicated to creating dishes that are not only delicious, but also
    visually stunning. Our servers are knowledgeable and attentive, and our atmosphere is perfect for any occasion.
  </p>
  <p>
    We believe in using only the highest-quality ingredients, and we work with local farmers and suppliers to source the
    freshest produce and meats. We're committed to supporting local agriculture and reducing our carbon footprint, all
    while creating dishes that are bursting with flavor and nutrition.
  </p>
  <p>
    At our restaurant, we believe that great food and great service are the foundation of a truly exceptional dining
    experience. Whether you're joining us for a quick lunch or a special dinner, we're honored to have you as our guest,
    and we can't wait to share our passion for food and hospitality with you.
  </p>
</div>

<app-accordion></app-accordion>

<div class="title">
  <div class="spacer"></div>
  <h1>Explore our place</h1>
  <div class="spacer"></div>
</div>


<div class="gallery-container">
  <div class="gallery-grid" *ngFor="let i of [].constructor(4); let k=index">
    <div class="image-wrapper" *ngFor="let image of _albums.slice((k*4), ((k+1)*4)); let j=index">
      <img [src]="image.thumb" (click)="open(j)" [alt]="image.caption" />
    </div>
  </div>
</div>

