<div class="title">
  <div class="spacer"></div>
  <h1>OUR MISSION</h1>
  <div class="spacer"></div>
</div>

<div class="bio">
  <div class="bio-container">
    <div class="grid-item picture first">
      <img src="assets/chefs/foods/1.webp" alt="sushi">
    </div>
    <div class="grid-item text first">
      We believe that food is more than just sustenance; it's an experience. That's why we strive to create an
      atmosphere that is warm, inviting, and welcoming to all. Our restaurant is a place where friends and family can
      come together to enjoy delicious food and great company.
      In addition to our talented chefs, we have a dedicated team of servers and staff who are committed to providing
      excellent service to every guest. From the moment you walk through our doors, you'll be greeted with a smile and
      treated like a member of our family.
    </div>
    <div class="grid-item text second">
      We are proud to offer a menu that reflects the diverse backgrounds and culinary traditions of our chefs. From
      classic sushi rolls to innovative fusion dishes, our menu has something for everyone. And with a focus on using
      only the freshest and highest-quality ingredients, you can trust that every dish will be bursting with flavor.
      But it's not just about the food - we also believe in giving back to our community. That's why we work with local
      farmers and suppliers to support sustainable agriculture and reduce our carbon footprint. We also donate a portion
      of our profits to local charities and organizations that are doing important work in our community.
    </div>
    <div class="grid-item picture second">
      <img src="assets/chefs/foods/2.webp" alt="sushi">
    </div>
    <div class="grid-item picture third">
      <img src="assets/chefs/foods/3.webp" alt="sushi">
    </div>
    <div class="grid-item text third">
      Our chefs are at the heart of everything we do at our restaurant. From Kenjiro Nakamura's traditional Japanese
      cuisine
      to Mei-Ling Chen's bold Asian flavors and Yuto Tanaka's innovative approach to classic dishes, our chefs bring a
      wealth of culinary expertise to our menu.
      Their passion for food and commitment to quality is reflected in every dish we serve. And with a focus on using
      only
      the freshest ingredients and traditional cooking techniques, you can trust that every meal will be an
      unforgettable
      experience.
    </div>
    <div class="grid-item text fourth">
      We're proud to work with such talented chefs and to showcase their unique culinary styles. Our chefs inspire us to
      push the boundaries of what's possible in the kitchen, and their creativity and dedication are a constant source
      of
      inspiration.
      We believe that great food starts with great chefs, and we're honored to have such an incredible team at our
      restaurant. Whether you're looking for a classic Japanese dish or an innovative fusion creation, you can trust
      that
      our chefs will deliver a meal that is both delicious and unforgettable.
    </div>
    <div class="grid-item picture fourth">
      <img src="assets/chefs/foods/4.webp" alt="sushi">
    </div>
  </div>
</div>

<app-chefs-about></app-chefs-about>
